* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background-color: #f4f4f4;
    
}

h2 {
    text-align: center;
    color: #b30000;
    font-size: 2em;
}

header .navbar {
    display: none;
}

header .side-nav {
    display: none;
}

/* GLOBAL */

.container {
    overflow: hidden;
    max-width: 1200px;
    display: flex;
    margin: auto;
}

/* HEADER */

.header {
    background-color: #e9e9e9;
    border-bottom: #b30000 solid 3px;
}

#header {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    padding: 10px 0 10px 20px;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
}

header nav div {
    padding: 0 20px 0 20px;
}

header a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

header a:hover {
    color: #b30000;
}

/* SHOWCASE */

#showcase {
    flex-direction: column;
    padding-left: 20px;
}

.showcase {
    background-color: #f4f4f4;
    background-image: url(../images/montreal-showcase.jpg);
    background-position: top;
    padding: 60px 0px 60px 0;
    border-bottom: #b30000 solid 3px;
    margin-bottom: 40px;
}

.showcase h1 {
    text-transform: uppercase;
    color: white;
    font-size: 5em;
    font-style: italic;
    text-shadow: 5px 5px 8px #131313;
}

.showcase h2 {
    text-transform: uppercase;
    color: white;
    font-size: 3em;
    padding-left: 50px; 
    text-shadow: 5px 5px 8px #131313;
    text-align: left;
}

/* PHRASE */

.reasons {
    width: 60%;
    margin: auto;
}

#reasons {
    max-width: 90%;
    flex-direction: column;
}

.reasons #reasons h2 {
    padding-bottom: 40px;
}

.reasons #reasons h3 {
    font-weight: normal;
    font-style: italic;
    padding: 30px 20px 30px 20px;
    text-align: center;
    border-radius: 10px;
    border-top: #131313 solid 2px;
    border-bottom: #131313 solid 2px;
}

.reasons #reasons h3 span {
    color: #b30000
}

/* ADVANTAGES */

.advantages {
    margin-top: 30px;
    margin-bottom: 30px;
}

#advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.advbox {
    margin: 25px;
    width: 500px;
    border-radius: 30px;
    padding: 20px;
    background: #e9e9e9
}

.advbox figure {
    border-radius: 30px;
    overflow: hidden;
}

.advbox figure img {
    width: 100%;
}

.advbox h3 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px; 
    color: #b30000;
}

.advbox .text {
    padding: 20px;
}

/* LANGUAGES */

.languages {
    background: #e9e9e9;
}

#languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.languages h2 {
    padding-bottom: 40px;
    padding-top: 40px;
}

.languagebox h3 {
    color: #131313;
    text-align: center;
    font-size: 1.8em;
    padding: 5px;
}

.languagebox {
    width: 200px;
    padding: 0px 30px 40px 30px;
}

.languagebox figure {
    border-radius: 30px;
    overflow: hidden;
}

.languagebox figure img {
    width: 100%;
}

/* FOOTER */

.footer {
    background: #b30000;
}

footer h5 {
    text-align: center;
    color: #e9e9e9;
    padding: 20px;
}

footer a {
    text-decoration: none;
    font-style: italic;
}

footer a:visited {
    color: #e9e9e9;
}

/* MEDIA QUERIES */

@media (max-width: 630px) {

    h2 {
        font-size: 1.6em;
    }

    #header {
        flex-direction: column;
    }

    #header .logo {
        padding-left: 0;
    }

    #header nav {
        padding: 10px 0 10px 0;
        background: #d1d1d1
    }

    .showcase h1 {
        font-size: 3em;
    }

    .showcase h2 {
        font-size: 2.5em;
        padding-left: 0;
    }

    .reasons {
        width: 75%;
    }

    .reasons #reasons h3 {
        font-size: 1em;
    }

    .advbox h3 {
        font-size: 1em;
    }

    .advbox p {
        font-size: 0.9em;
    }

    .languages h3 {
        font-size: 1.3em;
    }

    h5 {
        font-size: 0.7em;
    }
}

@media (max-width: 425px) {

    header .navbar {
        display: block;
        margin-bottom: -35px;
    }

    header .side-nav {
        display: block;
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        opacity: 0.9;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }

    .side-nav a {
        padding: 10px 10px 10px 30px;
        text-decoration: none;
        font-size: 18px;
        color: #ccc;
        display: block;
        transition: 0.3s;
    }

    .side-nav a:hover {
        color: #fff;
    }

    .side-nav .btn-close {
        position: absolute;
        top: 0;
        right: 22px;
        font-size: 30px;
        margin-left: 50px;
    }

    .nav {
        display: none;
    }

    .logo img {
        padding: 10px 0 10px 0
    }

    .showcase h1 {
        font-size: 2.5em;
    }

    .showcase h2 {
        font-size: 2em;
        padding-left: 0;
    }
}