* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background-color: #f4f4f4;
    
}

/* GLOBAL */

.container {
    overflow: hidden;
    max-width: 75%;
    display: flex;
    margin: auto;
}

/* HEADER */

.header {
    background-color: #f4f4f4;
    border-bottom: #b30000 solid 3px;
}

#header {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    padding: 10px 0 10px 20px;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
}

header nav div {
    padding: 0 20px 0 20px;
}

header a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

header a:hover {
    color: #b30000;
}

/* SHOWCASE */

.showcase {
    background-color: #f4f4f4;
    background-image: url(../images/montreal-showcase.jpg);
    background-position: top;
    padding: 60px 0 60px 0;
    border-bottom: #b30000 solid 3px;
    margin-bottom: 40px;
}

.showcase h1 {
    text-transform: uppercase;
    color: white;
    font-size: 5em;
    font-style: italic;
}

.showcase h2 {
    text-transform: uppercase;
    color: white;
    font-size: 3em;
    padding-left: 50px; 
}

/* PHRASE */

.phrase {
    width: 60%;
    border-top: #131313 solid 2px;
    border-bottom: #131313 solid 2px;
    margin: auto;
}


.phrase h3 {
    font-weight: normal;
    font-style: italic;
    padding: 30px 0 30px 0;
    text-align: center;
}

/* ADVANTAGES */

.advantages {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.advbox {
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    overflow: hidden;
    border: #131313 solid 3px;
    border-radius: 10px;
    padding: 20px;
}